@import "../../index.scss";
.container {
  height: 100%;
  width: 100%;
  .location_screen {
    position: relative;
    .location_wrapper {
      // position: absolute;
      display: flex;
      align-items: center;
      height: 60px;
      width: 100%;
      // top: 100px;
      // z-index: 999;
      background-color: $primary;
      .location_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        .button_container {
          height: 40px;
          width: 350px;
          border-radius: 4px;
          background-color: white;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 10px;
          // padding: 20px;
          .current_location {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;
            cursor: default;
          }
          .timeline {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 30px;
            cursor: default;
          }
        }

        .add_field_container {
          margin-right: 10px;
          width: 300px;
          height: 40px;
          margin-left: 10px;
        }
        .select_address_container {
          margin: 0px;
          .input_container {
            margin: 0px;
            .input {
              height: 40px;
              border-radius:4px;
              background-color: "white" !important;
            }
            .label_container {
              padding: 0px;
            }
          }
          .select_address_body{
            top:50px;
            border-radius: 4px;
            padding-bottom: 0px;
            .options_wrapper{
              padding-top: 0px;
            }
          }
        }
        .available_driver_container {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          background-color: white;
          // margin-top: 10px;
          border-radius: 30px;
          align-items: center;
          .available_driver_text {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.date_wrapper {
  height: 40;
  justify-content: flex-end;
  display: flex;
  .date_container {
    height: 40px;
    width: 250px;
    // border-radius: 10px;
    margin-left: 10px;
  }
}
.text {
  padding-left: 10px;
  font-size: 16px;
}
.calender {
  height: 40px;
  width:240px;
  border-radius: 4px;
  background-color: white;
  padding-left: 10px;
  border-width: 0;
}

.location_wrap {
  display: flex;
  min-width: 100px;
  min-height: 50px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  .location_icon {
    border-radius: 10px;
    height: 35px;
    width: 35px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .driver_details {
    .driver_container {
      border-radius: 6px;
      padding: 6px;
      position: absolute;
      right: -130px;
      top: 10px;
      width: auto;
      background-color: white;
      box-shadow: 0px 2px 13px 6px rgba(214, 214, 214, 1);

      .driver_name {
        display: flex;
        font-size: 10px;
        color: green;
        padding: 3px 3px 0px 3px;
      }
      .driver_phone {
        display: flex;
        padding: 3px;
        font-size: 10px;
        color: green;
      }
    }
  }
}
.map_wrapper {
  height: 90vh;
  width: 100%;
}

  
  .live_location_screen_driver_list_input input {
    width: 100%;
    border: 2px solid #e4e4e4;
    border-radius: 8px;
    padding-left: 1em;
    outline: none;
    background-color: #e4e4e4;
    height: 40px;
    border-radius: 4px;
  }
  .live_location_screen_input_focus input{
     background-color: #ffff;
  }
  .live_location_screen_driver_list_details{
    position: absolute;
    background-color: #ffff;
    width: 300px;
    min-height: 100px !important;
    max-height: 300px !important;
    overflow:scroll !important;
    left:372px !important;
    border-radius: 5px;
    margin-top: 0px;
    z-index: 9999;;
    padding-bottom: 20px;
      
  }

  .live_location_screen_driver_list_flex_warpper{
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    margin-top: 10px;
    overflow-y: scroll;
    justify-content: space-between;
    align-items: center;
    font-size:12px;

  }
  .live_location_screen_driver_list_flex_warpper:hover{
    background-color:#e4e4e4;
  }
  .live_location_screen_driver_name{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
  }
  .live_location_screen_driver_status{
    color: #808191;
    font-size: 14px;
    font-weight: 500;
  }
  .driver_not_found{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }
  .infoBox img{
    display: none !important;
  }
  .infobox_driver_name{
    font-size: 11px;
  }
  .infobox_flex_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
  }
  

  @media (max-height: 600px)  {
    .live_location_screen_driver_list_input input {
      // margin-top: 20px;
    }
  
    .container .location_screen .location_wrapper .location_container .available_driver_container {
      // margin-top: 21px;
    }
  
    .main_body {
      margin: 0 21px !important;
    }
  
    .live_location_screen_driver_list_details {
      left: 401px !important;
      min-height: 100px !important;
      max-height: 300px !important;
      overflow:scroll !important;
    }
  }
.info_window_location_details {
  width: 200px;
  color: #000000;
  font-weight: 800;
  font-family: 'Poppins';
  font-size: 16px;
}
  
  @media (min-height:601px) and (max-height:768px)  {
    .main_body {
      margin: 0 35px !important;
    }
  }
  .auto_recenter_wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 5px;
   
  
    .auto_recenter_heading {
      font-size: 13px;
      font-weight: 400;
      font-family: 'Poppins';
      line-height: 20px;
      position: relative;
      color: #ffffff;
      margin-bottom: 0px;
    }
    .react-switch-handle {
      height:21px !important;
      width: 21px !important;
      margin-top: 1.7px;
    }
  
  }
  
  
