@import '../../../index.scss';
.dropdown {
  position: relative;
  .label_container {
    color: $border;
    padding: 0.5em 0em;
  }
  .dropdown_head {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: $uiHeight;
    width: 100%;
    padding: 0 1em 0 1em;
    border: $uiBorder solid transparent;
    background: $border;
    border-radius: $uiBorderRadius;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .dropdown_head:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    height: 8px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3E%3Cpath fill='%231b1d21' d='M.293.293A1 1 0 0 1 1.613.21l.094.083L7 5.585 12.293.293a1 1 0 0 1 1.32-.083l.094.083a1 1 0 0 1 .083 1.32l-.083.094-6 6a1 1 0 0 1-1.32.083l-.094-.083-6-6a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E")
      no-repeat 50% 50%/100% auto;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  .dropdown_body {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 1em;
    cursor: pointer;
    border: $uiBorder solid $border;
    background: $white;
    border-radius: $uiBorderRadius;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 20px 16px rgba(227, 230, 236, 0.6);
    box-shadow: 0 20px 16px rgba(227, 230, 236, 0.6);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    .dropdown_item {
      display: block;
      .dropdown_title {
        position: relative;
        margin-bottom: 3px;
        padding-right: 30px;
        -webkit-transition: color 0.25s;
        -o-transition: color 0.25s;
        transition: color 0.25s;
      }

      .dropdown_title:before {
        content: '';
        position: absolute;
        top: 5px;
        right: 8px;
        width: 6px;
        height: 10px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10'%3E%3Cpath fill='%2311142d' d='M.293.293A1 1 0 0 1 1.613.21l.094.083 4 4a1 1 0 0 1 .083 1.32l-.083.094-4 4A1 1 0 0 1 .21 8.387l.083-.094L3.585 5 .293 1.707A1 1 0 0 1 .21.387L.293.293z'/%3E%3C/svg%3E")
          no-repeat 50% 50%/100% auto;
        -webkit-transition: -webkit-transform 0.25s;
        transition: -webkit-transform 0.25s;
        -o-transition: transform 0.25s;
        transition: transform 0.25s;
        transition: transform 0.25s, -webkit-transform 0.25s;
      }
    }

    .dropdown_item:not(:last-child) {
      margin-bottom: 24px;
    }
    .dropdown_item:hover .dropdown_title:before {
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }

    .dropdown_item:hover .dropdown_title,
    .dropdown_item:hover .dropdown_info {
      color: $primary;
    }
  }
}

.dropdown_info {
  color: $text-light;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.dropdown.active .dropdown_head {
  border-color: $primary;
  background: $white;
}

.dropdown.active .dropdown_head:before {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.dropdown.active .dropdown_body {
  visibility: visible;
  opacity: 1;
}
