@import '../../../index.scss';
.upload_button_container {
  .upload_button_wrap {
    position: relative;
    width: fit-content;
    .upload_button_input {
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .upload_button_btn {
      .btn_text {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
